<header id="header" class="site-header home-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-5">
                <div class="site">

                    <div class="site__brand">
                        <a title="Logo" href="/" class="site__brand__logo"><img src="assets/logo.png" alt="Golo"></a>
                    </div><!-- .site__brand -->
                    
                </div><!-- .site -->
            </div><!-- .col-md-6 -->
            <div class="col-xl-6 col-7">
                <div class="right-header align-right">
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="#" title="Demos" class="text-white nav-link">Router Links <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a [routerLink]="['/menu']" title="Menu">Menu</a></li>
                                    <li><a [routerLink]="['/login']" title="Menu">Login</a></li>
                                  
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="Listings" class="text-white nav-link">CRUD <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu"> 
                                    <li>
                                        <a [routerLink]="['/motos']" title="motos">Motos</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a title="Page" href="#" class="text-white nav-link">Services <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a [routerLink]="['/php']" title="php">Servicios php</a></li>
                                    <li><a title="About" href="about-us.html">About Us</a></li>
                                    <li><a title="FAQ's" href="faqs.html">FAQ's</a></li>
                                    <li><a title="App Landing" href="app-landing.html">App Landing</a></li>
                                    <li><a title="Contacts" href="contact-us.html">Contacts</a></li>
                                    <li><a title="Add Listing" href="add-place.html">Add Listing</a></li>
                                    
                                  
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="right-header__login">
                        <a title="Login" class="open-login" [routerLink]="['/login']" class="text-white nav-link">Login</a>
                    </div><!-- .right-header__login -->

                    <div class="right-header__search">
                        <a title="Search" href="#" class="search-open">
                            <i class="fa fa-search"></i>
                        </a>
                        <div class="site__search">
                            <a title="Close" href="#" class="search__close">
                                <i class="fa fa-times"> </i>
                            </a><!-- .search__close -->
                            <form action="#" class="site__search__form" method="GET">
                                <div class="site__search__field">
                                    <span class="site__search__icon">
                                        <i class="fa fa-search"></i>
                                    </span><!-- .site__search__icon -->
                                    <input class="site__search__input" type="text" name="s" placeholder="Search places, cities">
                                </div><!-- .search__input -->
                            </form><!-- .search__form -->
                        </div><!-- .site__search -->
                    </div>
                    <div class="right-header__button btn">
                        <a title="Add place" href="add-place.html">
                            <i class="fa fa-plus"></i>
                            <span>Add Listing</span>
                        </a>
                    </div><!-- .right-header__button -->
                </div><!-- .right-header -->
            </div><!-- .col-md-6 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</header><!-- .site-header -->
