<div class="testimonial">
    <div class="container">
        <h2 class="title title-border-bottom align-center offset-item animate">Loved by Our Users</h2>
        <div class="slick-sliders offset-item animete">
            <div class="slick-slider testimonial-slider slider-pd30" data-item="1" data-arrows="false" data-dots="false" data-asNavFor=".slick-control">
                <div class="slick-item">
                    <div class="testimonial-item">
                        <img src="images/assets/quote.png" alt="">
                        <p>Really useful app to find interesting things to see do, drink and eat in new places. I’ve been using it regularly in my travels over the past few months.</p>
                        <h4>Kari Granleese</h4>
                        <span>Traveler</span>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="testimonial-item">
                        <img src="images/assets/quote.png" alt="">
                        <p>Really useful app to find interesting things to see do, drink and eat in new places. I’ve been using it regularly in my travels over the past few months.</p>
                        <h4>Kari Granleese</h4>
                        <span>Traveler</span>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="testimonial-item">
                        <img src="images/assets/quote.png" alt="">
                        <p>Really useful app to find interesting things to see do, drink and eat in new places. I’ve been using it regularly in my travels over the past few months.</p>
                        <h4>Kari Granleese</h4>
                        <span>Traveler</span>
                    </div>
                </div>
            </div>
            <div class="slick-control testimonial-control">
                <div class="tc-item"><img src="images/avatars/female-1.jpg" alt=""></div>
                <div class="tc-item"><img src="images/avatars/female-2.jpg" alt=""></div>
                <div class="tc-item"><img src="images/avatars/female-3.jpg" alt=""></div>
            </div><!-- .slick-control -->
        </div>
    </div>
</div><!-- .testimonial -->