<div class="testimonial">
    <div class="container">
        <h2 class="title title-border-bottom align-center offset-item animate">Comentarios de los Viajeros</h2>
        <div class="slick-sliders offset-item animate">
            <div class="slick-slider testimonial-slider slider-pd30 row" data-item="1" data-arrows="false" data-dots="false" data-asNavFor=".slick-control">
                <div class="slick-item col-4">
                    <div class="testimonial-item">
                        <img src="../../../assets/quote.png" alt="">
                        <p>Aprender de nuevas culturas es parte de crecer, hemos de seguir rodando por el mundo en busca de nuevas experiencias</p>
                        <h4>Gema Garcia</h4>
                        <span>Viajera</span>
                    </div>
                </div>
                <div class="slick-item col-4">
                    <div class="testimonial-item">
                        <img src="../../../assets/quote.png" alt="">
                        <p>Aprender de nuevas culturas es parte de crecer, hemos de seguir rodando por el mundo en busca de nuevas experiencias</p>
                        <h4>Gema Garcia</h4>
                        <span>Viajera</span>
                    </div>
                </div>
                <div class="slick-item col-4">
                    <div class="testimonial-item">
                        <img src="../../../assets/quote.png" alt="">
                        <p>Aprender de nuevas culturas es parte de crecer, hemos de seguir rodando por el mundo en busca de nuevas experiencias</p>
                        <h4>Gema Garcia</h4>
                        <span>Viajera</span>
                    </div>
                </div>
            </div>
            <div class="slick-control testimonial-control">
                <div class="tc-item"><img src="../../../assets/images/testimonios/testimonio1.jpg" alt=""></div>
                <div class="tc-item"><img src="../../../assets/images/testimonios/testimonio2.jpg" alt=""></div>
                <div class="tc-item"><img src="../../../assets/images/testimonios/testimonio3.jpg" alt=""></div>
            </div><!-- .slick-control -->
        </div>
    </div>
</div><!-- .testimonial -->