<div class="featured-cities">
  <div class="container">
    <h2 class="title title-border-bottom align-center title-while offset-item animate">Lugares</h2>
    <div class="slick-sliders offset-item animate">
      <div class="slick-slider featured-slider slider-pd30 row" data-item="4" data-arrows="true" data-itemScroll="1" data-dots="true" data-centerPadding="30" data-tabletitem="2" data-mobileitem="1" data-mobilearrows="false">
        <div class="slick-item col-3">
          <div class="cities__item hover__box">
            <div class="cities__thumb hover__box__thumb">
              <a title="Singapo" href="city-details-1.html">
                <img src="../../../assets/images/lugares/cities1.jpg" alt="Singapo">
              </a>
            </div>
            <h4 class="cities__name">Sierra</h4>
            <div class="cities__info">
              <h3 class="cities__capital">Montaña</h3>
              <p class="cities__number">8000 visitas</p>
            </div>
          </div><!-- .cities__item -->
        </div>
        <div class="slick-item col-3">
          <div class="cities__item hover__box">
            <div class="cities__thumb hover__box__thumb">
              <a title="Barcalona" href="city-details-1.html">
                <img src="../../../assets/images/lugares/cities2.jpg" alt="Barcalona">
              </a>
            </div>
            <h4 class="cities__name">Selva</h4>
            <div class="cities__info">
              <h3 class="cities__capital">Tarapoto</h3>
              <p class="cities__number">9200 visitas</p>
            </div>
          </div><!-- .cities__item -->
        </div>
        <div class="slick-item col-3">
          <div class="cities__item hover__box">
            <div class="cities__thumb hover__box__thumb">
              <a title="San Fancisco" href="city-details-1.html">
                <img src="../../../assets/images/lugares/cities3.jpg" alt="San Francisco">
              </a>
            </div>
            <h4 class="cities__name">Costa</h4>
            <div class="cities__info">
              <h3 class="cities__capital">Piura</h3>
              <p class="cities__number">6400 visitas</p>
            </div>
          </div><!-- .cities__item -->
        </div>
        <div class="slick-item col-3">
          <div class="cities__item hover__box">
            <div class="cities__thumb hover__box__thumb">
              <a title="Amsterdam" href="city-details-1.html">
                <img src="../../../assets/images/lugares/cities4.jpg" alt="Amsterdam">
              </a>
            </div>
            <h4 class="cities__name">Sierra</h4>
            <div class="cities__info">
              <h3 class="cities__capital">Cuzco</h3>
              <p class="cities__number">44000 visitas</p>
            </div>
          </div><!-- .cities__item -->
        </div>
        
      </div>
      <div class="place-slider__nav slick-nav">
        <div class="place-slider__prev slick-nav__prev">
          <i class="la la-arrow-left"></i>
        </div><!-- .place-slider__prev -->
        <div class="place-slider__next slick-nav__next">		
          <i class="la la-arrow-right"></i>
        </div><!-- .place-slider__next -->
      </div><!-- .place-slider__nav -->
    </div>
  </div>
</div><!-- .featured-cities -->
