<div class="blogs">
    <div class="container">
        <h2 class="title title-border-bottom align-center offset-item animate">Comentarios</h2>
        <div class="news__content offset-item animate">
            <div class="row">
                <div class="col-md-4">
                    <article class="post hover__box">
                        <div class="post__thumb hover__box__thumb">
                            <a title="Comentarios juiciosos sobre los sitios" href="/"><img src="../../../assets/images/comentarios/comentario1.jpg" alt="Comentarios juiciosos sobre los sitios"></a>
                        </div>
                        <div class="post__info">
                            <ul class="post__category">
                                <li><a title="lugares" href="#">LUGARES</a></li>
                                <li><a title="Food" href="#">COMIDA</a></li>
                            </ul>
                            <h3 class="post__title"><a title="Comentarios juiciosos sobre los sitios" href="blog-detail.html">Comentarios juiciosos sobre los sitios</a></h3>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="post hover__box">
                        <div class="post__thumb hover__box__thumb">
                            <a title="Conversaciones grupales sobre lugares" href="blog-detail.html"><img src="../../../assets/images/comentarios/comentario2.jpg" alt="Conversaciones grupales sobre lugares"></a>
                        </div>
                        <div class="post__info">
                            <ul class="post__category">
                                <li><a title="London" href="#">LIMA</a></li>
                                <li><a title="Art & Decor" href="#">Arte</a></li>
                            </ul>
                            <h3 class="post__title"><a title="Conversaciones grupales sobre lugares" href="blog-detail.html">Conversaciones grupales sobre lugares</a></h3>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="post hover__box">
                        <div class="post__thumb hover__box__thumb">
                            <a title="Los lugares mas confortables" href="blog-detail.html"><img src="../../../assets/images/comentarios/comentario3.jpg" alt="Los lugares mas confortables"></a>
                        </div>
                        <div class="post__info">
                            <ul class="post__category">
                                <li><a title="Paris" href="#">CHOSICA</a></li>
                                <li><a title="Stay" href="#">Stay</a></li>
                            </ul>
                            <h3 class="post__title"><a title="Los lugares mas confortables" href="blog-detail.html">Los lugares mas confortables</a></h3>
                        </div>
                    </article>
                </div>
            </div>
            <div class="align-center button-wrap"><a href="#" class="btn btn-border">Ver mucho mas</a></div>
        </div>
    </div>
</div><!-- .blogs -->
