<div class="blogs">
    <div class="container">
        <h2 class="title title-border-bottom align-center offset-item">Travel Inspiration</h2>
        <div class="news__content offset-item">
            <div class="row">
                <div class="col-md-4">
                    <article class="post hover__box">
                        <div class="post__thumb hover__box__thumb">
                            <a title="The 8 Most Affordable Michelin Restaurants in Paris" href="blog-detail.html"><img src="../../../assets/images/blog/thumb-01.jpg" alt="The 8 Most Affordable Michelin Restaurants in Paris"></a>
                        </div>
                        <div class="post__info">
                            <ul class="post__category">
                                <li><a title="Paris" href="#">Paris</a></li>
                                <li><a title="Food" href="#">Food</a></li>
                            </ul>
                            <h3 class="post__title"><a title="The 8 Most Affordable Michelin Restaurants in Paris" href="blog-detail.html">The 8 Most Affordable Michelin Restaurants in Paris</a></h3>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="post hover__box">
                        <div class="post__thumb hover__box__thumb">
                            <a title="The 7 Best Restaurants to Try Kobe Beef in London" href="blog-detail.html"><img src="../../../assets/images/blog/thumb-02.jpg" alt="The 7 Best Restaurants to Try Kobe Beef in London"></a>
                        </div>
                        <div class="post__info">
                            <ul class="post__category">
                                <li><a title="London" href="#">London</a></li>
                                <li><a title="Art & Decor" href="#">Art & Decor</a></li>
                            </ul>
                            <h3 class="post__title"><a title="The 7 Best Restaurants to Try Kobe Beef in London" href="blog-detail.html">The 7 Best Restaurants to Try Kobe Beef in London</a></h3>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="post hover__box">
                        <div class="post__thumb hover__box__thumb">
                            <a title="The 8 Most Affordable Michelin Restaurants in Paris" href="blog-detail.html"><img src="../../../assets/images/blog/thumb-03.jpg" alt="The 8 Most Affordable Michelin Restaurants in Paris"></a>
                        </div>
                        <div class="post__info">
                            <ul class="post__category">
                                <li><a title="Paris" href="#">Paris</a></li>
                                <li><a title="Stay" href="#">Stay</a></li>
                            </ul>
                            <h3 class="post__title"><a title="The 8 Most Affordable Michelin Restaurants in Paris" href="blog-detail.html">The 8 Most Affordable Michelin Restaurants in Paris</a></h3>
                        </div>
                    </article>
                </div>
            </div>
            <div class="align-center button-wrap"><a href="#" class="btn btn-border">View more</a></div>
        </div>
    </div>
</div><!-- .blogs -->
