<div class="site-banner hcg-banner">
    <div class="banner slick-sliders">
        <div class="banner-sliders slick-slider" data-item="1" data-arrows="false" data-dots="false" data-autoplay="autoplay" data-cssease="cubic-bezier(0.7, 0, 0.3, 1)" data-fade="true" data-infinite="true" data-speed="900">
            <div class="item"><img src="../../../assets/images/bg/bg-hero-4.jpg" alt="Banner"></div>
            <div class="item"><img src="../../../assets/images/bg/bg-hero-5.jpg" alt="Banner"></div>
            <div class="item"><img src="../../../assets/images/bg/bg-hero-6.jpg" alt="Banner"></div>
        </div>
    </div><!-- .banner -->
    <div class="container">
        <div class="site-banner__content">
            <h1 class="site-banner__title">France</h1>
            <p>Explore France Like a Local</p>
            <form action="#" class="site-banner__search layout-02">
                <div class="field-input">
                    <label for="s">Find</label>
                    <input class="site-banner__search__input open-suggestion" id="s" type="text" name="s" placeholder="Ex: fastfood, beer" autocomplete="off">
                    <div class="search-suggestions name-suggestions">
                        <ul>
                            <li><a href="#"><i class="las la-utensils"></i><span>Restaurant</span></a></li>
                            <li><a href="#"><i class="las la-spa"></i><span>Beauty</span></a></li>
                            <li><a href="#"><i class="las la-dumbbell"></i><span>Fitness</span></a></li>
                            <li><a href="#"><i class="las la-cocktail"></i><span>Nightlight</span></a></li>
                            <li><a href="#"><i class="las la-shopping-bag"></i><span>Shopping</span></a></li>
                            <li><a href="#"><i class="las la-film"></i><span>Cinema</span></a></li>
                        </ul>
                    </div>
                </div><!-- .site-banner__search__input -->
                <div class="field-input">
                    <label for="loca">Where</label>
                    <input class="site-banner__search__input open-suggestion" id="loca" type="text" name="where" placeholder="Your city" autocomplete="off">
                    <div class="search-suggestions location-suggestions">
                        <ul>
                            <li><a href="#"><i class="las la-location-arrow"></i><span>Current location</span></a></li>
                            <li><a href="#"><span>San Francisco, CA</span></a></li>
                        </ul>
                    </div>
                </div><!-- .site-banner__search__input -->
                <div class="field-submit">
                    <button><i class="las la-search la-24-black"></i></button>
                </div>
            </form><!-- .site-banner__search -->
        </div><!-- .site-banner__content -->
    </div>
</div><!-- .site-banner -->
